#card-new, #card-link {
  margin: 100px 32px;
  width: 300px;
  min-height: 21.71429px;
  height: 342.85714px;
  padding: 20px 16px;
  border-radius: 4px;
  background-color: rgba(255, 255, 255, 0.02);
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  overflow: hidden;
  position: relative; }
  #card-new #title-box, #card-link #title-box {
    height: 161px;
    display: block;
    background-color: #2196F3;
    border-bottom: 1px solid #ddd; }
  #card-new #title, #card-link #title {
    display: block;
    position: absolute;
    height: 64px;
    top: 98px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 2.4rem;
    font-weight: 400;
    line-height: 2.55em;
    letter-spacing: 0em;
    color: rgba(255, 255, 255, 0.87); }
  #card-new #title-box-substitute, #card-link #title-box-substitute {
    height: 141px;
    display: block; }
  #card-new #text-box, #card-link #text-box {
    display: block;
    margin-top: 20px;
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 2em;
    letter-spacing: 0.01em; }
