@import 'theme';


html {
  //background: url("icons/icon.svg") no-repeat center center;
  font-family: $font-stack;
  font-size: 62.5%; /* 16px * .625 => 10px */
  /*font-size: 20px;
  font-weight: 600;
  line-height: 1.2em;
  margin: 0;*/
}

html, body {
  height: 100%;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

body {
  @include text-body1();
  color: $text-black-primary;
  background-color: white;
  background-repeat: no-repeat;
  background-position: 50%;
}

@media screen and (min-width: 900px) {
  body {
    background-size: 512px;
  }
}

core-scaffold::shadow [drawer] {
  background-color: white;
}

core-scaffold::shadow [main] {
  background-color: white;
}

core-toolbar {
  @include text-title();
  color: $text-white;
}
core-toolbar.tall {
  background-color: $dark-color;
  height: 64px;
}
core-toolbar:not(.tall) {
  background-color: $dark-color;
}

core-scaffold::shadow {
  core-toolbar {
    @extend core-toolbar;
  }
  core-toolbar.tall {
    @extend core-toolbar.tall;
  }
  core-toolbar:not(.tall) {
    @extend core-toolbar:not(.tall);
  }
}

core-scaffold {
  core-header-panel{
    box-shadow: 1px 0 1px rgba(0, 0, 0, 0.1);
    color: $text-black-secondary;

    .separator {
      padding: 16px;
      @include text-caption();
      border-top: 1px solid #e0e0e0;
    }

    core-toolbar{
      @include text-subhead();
      color: $text-white;
      padding: 16px 0px 16px 22px;
      /*background: url("images/carbon_intake.png") no-repeat center bottom;*/

      core-image{
        width: 400px;
        height: 400px;
        background-color: rgba(0,0,0,0);
      }
    }

    core-toolbar.tall {
      height: 192px;
    }

    core-selector, core-menu {
      overflow: auto;
      ::shadow paper-ripple {
        color: $accent-color;
      }
    }

    core-menu {
      margin: 16px 0 0 0;

      paper-item.core-selected {
        background-color: #eee;
      }
      paper-item.core-selected core-icon {
        color: $accent-color;
      }
    }

    /*
    paper-item doesn't style this at all, currently :(
    https://github.com/Polymer/paper-item/issues/12
    */
    core-selector .core-selected {
      color: $accent-color;
      //background-color: $light-color;
    }
  }
}

core-overlay-layer /deep/ paper-action-dialog {
  color: $text-black-secondary;

  paper-button {
    @include text-button();

    core-icon {
      vertical-align: baseline;
      margin-right: 24px !important;
    }
  }

  ::shadow paper-ripple {
    color: $accent-color;
  }

  /deep/ h1 {
    @include text-title();
  }

  p {
    @include text-body1();
  }
}

section /deep/ paper-button {
  @include text-button();

  core-icon {
    vertical-align: baseline;
    margin-right: 24px !important;
  }
}

paper-item {
  @include text-subhead();
  line-height: inherit;
}

paper-dropdown {
  paper-item {
    color: $text-black-secondary;
  }

  ::shadow #ripple {
    color: $accent-color;
  }
}

paper-item core-icon {
  margin-right: 24px !important;
}

#panel-head {
  background-image: url('images/beach.jpg');
  background-blend-mode: multiply;
  background-repeat: no-repeat;
  background-color: #999;
  background-size: cover;
  @include text-subhead();
  line-height: inherit;
  color: $text-white-primary;
}

#panel-head img.profile {
  border-radius: 50%;
  width: 64px;
  height: 64px;
  margin-bottom: 20px;
}

#panel-head .bottom :last-child {
  @include text-caption();
  color: $text-white-secondary;
}

#panel-head::shadow .toolbar-tools {
  z-index: 1;
}

#panel-head::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  background-blend-mode: multiply;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 0;
  opacity: 0;
  will-change: opacity;
  transition: opacity 600ms ease-in-out;
}

#panel-head.coverimg::after {
  opacity: 1;
}






#refresh {
  position: absolute;
  z-index: -1;
  bottom: 10px;
  pointer-events: none;
  will-change: transform;
}
#refresh.snapback {
  transition: all 100ms ease-out;
  -webkit-transform: translate3d(0, 81px, 0);
  transform: translate3d(0, 81px, 0);
}
#refresh.snapback.tostart {
  -webkit-transform: translate3d(0, 0, 0) !important;
  transform: translate3d(0, 0, 0) !important;
}
#refresh.shrink {
  -webkit-transform: translate3d(0, 81px, 0) scale(0.001); /* Note: scale(0) doesn't work */
  transform: translate3d(0, 81px, 0) scale(0.001); /* Note: scale(0) doesn't work */
}
#refresh > div {
  width: 22px;
  height: 22px;
  background: #fff;
  border-radius: 50%;
  padding: 8px;
}
#refresh paper-spinner {
  width: 100%;
  height: 100%;
  opacity: 0;
  will-change: opacity;
}












core-animated-pages {
  width: 98%;
  height: 98%;
  -webkit-user-select: none;
}

@media all and (max-width: 480px) {
  core-animated-pages {
    width: 100%;
    height: 100%;
  }
}

#main-heading {
  //background-color: #b0bec5;
  padding: 0px;
  margin: 0px;
}

.splash {
  background-color: white;
  background-repeat: no-repeat;
  background-position: 50%;
  background-image: url(images/splash.svg);
}
.splash.wide {
  background-size: 512px;
}

$card-width2: 300px;
$card-height2: $card-width2 * 8 / 7;
$title-height2: 64px;
$image-height2: $card-height2 - $card-width2 - $title-height2;

#card-new, #card-link {
  margin: 100px 32px;
  width: $card-width2;
  min-height: $image-height2 + $title-height2 + $image-height2;
  height: $card-height2;

  padding: 20px 16px;
  border-radius: 4px;
  background-color: $background-color;
  box-shadow: 0 2px 5px 0 $shadow;
  overflow: hidden;
  position: relative;

  #title-box {
    height: $image-height;
    display: block;
    background-color: $primary-color;
    border-bottom: 1px solid $seam;
  }

  #title {
    display: block;
    position: absolute;
    height: $title-height;
    top: $image-height + 1px - $title-height;
    padding-left: 20px;
    padding-right: 20px;
    @include text-headline();
    color: $text-white-primary;
  }

  #title-box-substitute {
    height: $image-height - 20px;
    display: block;
  }

  #text-box {
    display: block;
    margin-top: 20px;
    @include text-subhead();
  }

  #new-button {
    display: block;
    margin-top: 20px;
    //padding: 16px;//match padding
    //z-index: 3;
    color: white;
    background-color: $accent-color;
    @include text-button();
  }

  #new-button::shadow core-icon{
    vertical-align: baseline;
  }
}



paper-input {
  width: 80%;
}

paper-input-decorator {
  max-width: 80%;
  word-wrap: break-word;
  word-break: break-all;
}

paper-input.narrow {
  width: 150px;
}

paper-input[focused] /deep/ .floated-label .label-text {
  color: $accent-color;
}

paper-input /deep/ .focused-underline {
  background-color: $accent-color;
}

paper-input-decorator[focused] /deep/ .floated-label .label-text {
  color: $accent-color;
}

paper-input-decorator /deep/ .focused-underline {
  background-color: $accent-color;
}


#create-button {
  display: block;
  margin-top: 20px;
  //padding: 16px;//match padding
  color: white;
  background-color: $accent-color;
  @include text-button();
}

#create-button::shadow core-icon{
  vertical-align: baseline;
}

#join-button {
  display: block;
  margin-top: 20px;
  //padding: 16px;//match padding
  color: white;
  background-color: $accent-color;
  @include text-button();
}

#join-button::shadow core-icon{
  vertical-align: baseline;
}

.welcome {
  display: block;
}