@import 'theme';


html {
  //background: url("icons/icon.svg") no-repeat center center;
  font-family: $font-stack;
  font-size: 62.5%; /* 16px * .625 => 10px */
  /*font-size: 20px;
  font-weight: 600;
  line-height: 1.2em;
  margin: 0;*/
}

html, body {
  height: 100%;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

body {
  @include text-body1();
  color: $text-black-primary;
  background-color: white;
  background-repeat: no-repeat;
  background-position: 50%;
}

//Toplevel scaffold and toolbars.
core-scaffold::shadow [drawer] {
  background-color: white;
}
core-scaffold::shadow [main] {
  background-color: white;
}

core-toolbar {
  @include text-title();
  color: $text-white;
}
core-toolbar.tall {
  background-color: $dark-color;
  height: (8 * $component-grid);
}
core-toolbar:not(.tall) {
  background-color: $dark-color;
}
core-scaffold::shadow {
  core-toolbar {
    @extend core-toolbar;
  }
  core-toolbar.tall {
    @extend core-toolbar.tall;
  }
  core-toolbar:not(.tall) {
    @extend core-toolbar:not(.tall);
  }
}
core-scaffold {
  core-header-panel{
    box-shadow: 1px 0 1px rgba(0, 0, 0, 0.1);
    color: $text-black-secondary;

    //Left top toolbar
    core-toolbar{
      @include text-subhead();
      color: $text-white;
      padding: (2 * $component-grid) 0 (2 * $component-grid) (3 * $component-grid);

      core-image{
        width: (50 * $component-grid);
        height: (50 * $component-grid);
        background-color: rgba(0,0,0,0);
      }
    }
    core-toolbar.tall {
      height: (24 * $component-grid);
    }

    //Only ever applies to our left top core-toolbar here.
    #panel-head {
      background-image: url('images/beach.jpg');
      background-blend-mode: multiply;
      background-repeat: no-repeat;
      background-color: $grey;
      background-size: cover;
      @include text-subhead();
      line-height: inherit;
      color: $text-white-primary;
    }
    #panel-head img.profile {
      border-radius: 50%;
      width: (8 * $component-grid);
      height: (8 * $component-grid);
      margin-bottom: (2.5 * $component-grid);
    }
    #panel-head .bottom :last-child {
      @include text-caption();
      color: $text-white-secondary;
    }
    #panel-head::shadow .toolbar-tools {
      z-index: 1;
    }
    #panel-head::after {
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      background-blend-mode: multiply;
      background-repeat: no-repeat;
      background-size: cover;
      z-index: 0;
      opacity: 0;
      will-change: opacity;
      transition: opacity 600ms ease-in-out;
    }
    #panel-head.coverimg::after {
      opacity: 1;
    }

    //Drawer menu
    core-selector, core-menu {
      overflow: auto;
    }
    core-menu {
      margin: (1 * $component-grid) 0 0 0;
    }
    .separator {
      @include text-body2();
      min-width: (8 * $component-grid);
      min-height: (2 * $component-grid);
      padding: (2 * $component-grid);
      padding-top: (2 * $component-grid) - 0.1rem;
      border-top: 1px solid $light-grey;
    }
    .separator .empty {
      min-height: (1 * $component-grid);
      padding: 0;
      border-top: 0;
    }
  }
}

//All paper (menu) items
html /deep/ paper-item {
  @include text-subhead();
  line-height: inherit;
  min-width: (8 * $component-grid);
  min-height: (6 * $component-grid);

  core-icon {
    vertical-align: baseline;
    margin-right: (4 * $component-grid);
    height: (3 * $component-grid);
    width: (3 * $component-grid);
  }
}
html /deep/ paper-item.core-selected {
   background-color: $light-grey;
   color: $accent-color;
   core-icon {
     color: $accent-color;
   }
}
html /deep/ paper-item::shadow .button-content {
  height: inherit;
  padding: (1.5 * $component-grid) (2 * $component-grid);
}

//All fold-open menus
html /deep/ paper-dropdown {
  paper-item {
    color: $text-black-secondary;
  }
}

//All dialogs
html /deep/ paper-action-dialog, html /deep/ paper-dialog {
  /deep/ h1 {
    @include text-title();
    color: $text-black-primary;
    margin-bottom: (3 * $component-grid);
  }

  p {
    @include text-body1();
    color: $text-black-secondary;
  }
}

//All flat ink paper buttons
html /deep/ paper-button.flat-button[autofocus] {
  color: $accent-color;
}
html /deep/ paper-button.flat-button {
  @include text-button();
  min-width: (8 * $component-grid);

  core-icon {
    vertical-align: baseline;
    margin-right: (3 * $component-grid) !important;
  }
}

//All raised paper buttons
html /deep/ paper-button.raised-button.colored {
  background-color: $accent-color;
  color: white;
}
html /deep/ paper-button.raised-button {
  @include text-button();
  min-width: (8 * $component-grid);

  core-icon {
    vertical-align: baseline;
    margin-right: (3 * $component-grid) !important;
  }
}

//All floating action buttons
html /deep/ paper-fab.floating-acton-button {
  padding: (3 * $component-grid);
  color: $text-white-primary;
  background-color: $accent-color;

  core-icon{
    vertical-align: baseline;
  }

//All ink ripples
html /deep/ paper-ripple {
  color: $accent-color;
}

//Splash screen
.splash {
  background-color: white;
  background-repeat: no-repeat;
  background-position: 50%;
  background-image: url(images/splash.svg);
}
.splash.wide {
  background-size: 512px;
}

//Section margins
section {
  margin: (4 * $component-grid) (2 * $component-grid) 0 (2 * $component-grid);
}
@media all and (max-width: 640px) {//Mobile phone
  section {
    margin: (2 * $component-grid);
    margin-bottom: 0;
    //width: 100%;
    //height: 100%;
  }
}

//All paper inputs and paper input decorators for textarea's
html /deep/ paper-input {
  /deep/ .floated-label {
    @include text-caption();
  }
  /deep/ .input-body {
    @include text-input();
  }
}
html /deep/ paper-input.narrow {
  width: 150px;
}
html /deep/ paper-input[focused] /deep/ .floated-label .label-text {
  color: $accent-color;
}
html /deep/ paper-input /deep/ .focused-underline {
  background-color: $accent-color;
}
html /deep/ paper-input-decorator {
  //Solves bug with garbled text.
  word-wrap: break-word;
  word-break: break-all;

  /deep/ .floated-label {
    @include text-caption();
  }
  /deep/ .input-body {
    @include text-input();
  }
}
html /deep/ paper-input-decorator[focused] /deep/ .floated-label .label-text {
  color: $accent-color;
}
html /deep/ paper-input-decorator /deep/ .focused-underline {
  background-color: $accent-color;
}







$card-width2: 300px;
$card-height2: $card-width2 * 8 / 7;
$title-height2: 64px;
$image-height2: $card-height2 - $card-width2 - $title-height2;

#card-new, #card-link {
  margin: 100px 32px;
  width: $card-width2;
  min-height: $image-height2 + $title-height2 + $image-height2;
  height: $card-height2;

  padding: 20px 16px;
  border-radius: 4px;
  background-color: $background-color;
  box-shadow: 0 2px 5px 0 $shadow;
  overflow: hidden;
  position: relative;

  #title-box {
    height: $image-height;
    display: block;
    background-color: $primary-color;
    border-bottom: 1px solid $seam;
  }

  #title {
    display: block;
    position: absolute;
    height: $title-height;
    top: $image-height + 1px - $title-height;
    padding-left: 20px;
    padding-right: 20px;
    @include text-headline();
    color: $text-white-primary;
  }

  #title-box-substitute {
    height: $image-height - 20px;
    display: block;
  }

  #text-box {
    display: block;
    margin-top: 20px;
    @include text-subhead();
  }
}





#create-button {
  display: block;
  margin-top: 20px;
}

#join-button {
  display: block;
  margin-top: 20px;
}







#refresh {
  position: absolute;
  z-index: -1;
  bottom: 10px;
  pointer-events: none;
  will-change: transform;
}
#refresh.snapback {
  transition: all 100ms ease-out;
  -webkit-transform: translate3d(0, 81px, 0);
  transform: translate3d(0, 81px, 0);
}
#refresh.snapback.tostart {
  -webkit-transform: translate3d(0, 0, 0) !important;
  transform: translate3d(0, 0, 0) !important;
}
#refresh.shrink {
  -webkit-transform: translate3d(0, 81px, 0) scale(0.001); /* Note: scale(0) doesn't work */
  transform: translate3d(0, 81px, 0) scale(0.001); /* Note: scale(0) doesn't work */
}
#refresh > div {
  width: 22px;
  height: 22px;
  background: #fff;
  border-radius: 50%;
  padding: 8px;
}
#refresh paper-spinner {
  width: 100%;
  height: 100%;
  opacity: 0;
  will-change: opacity;
}