
body {
  color: #333;
  margin: 0;
  font-family: RobotoDraft, 'Open Sans', sans-serif;
  font-size: 20px;
  font-weight: 600;
  line-height: 1.2em;
}

core-card2 {
  min-width: 500px;
  min-height: 600px;
}